/***PARAMETER***/
.container {
  width: calc(100% - 10px); /* Toujours 100% de la largeur - 10px de chaque côté pour garder une marge de lecture */
  max-width: 1280px; /* Dès qu'on dépassera 1280 px de large le contenu se fixera et sera centré */
  margin: 0 auto;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
  box-sizing: border-box;
  display: flex;
}
.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

[class*='col-'] {
  box-sizing: border-box;
  
}
  
/***OPTIONS***/

/*Wrap*/
.flex-wrap {flex-wrap: wrap};
.flex-wrap-reverse {flex-wrap: wrap-reverse;}
.flex-nowrap {flex-wrap: nowrap;}

/*Justify*/
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.justify-center{justify-content: center;}
.justify-end{justify-content: flex-end;}
.justify-start{justify-content: flex-start;}

/*Direction*/
.direction-column{flex-direction: column;}
.direction-column-reverse{flex-direction: column-reverse;}
.direction-row{flex-direction: row;}
.direction-row-reverse{flex-direction: row-reverse;}

/*Alignement*/
.align-end{align-items: flex-end;}
.align-start{align-items: flex-start;}
.align-center{align-items: center;}
.align-baseline{align-items: baseline;}

/*Order*/
.order--3{order:-3}
.order--2{order:-2}
.order--1{order:-1}
.order-0{order:0}
.order-1{order:1}
.order-2{order:2}
.order-3{order:3}
.order-4{order:4}
.order-5{order:5}

/***GRID***/
.col-xs-1 { width: 8.333333%; }
.col-xs-2 { width: 16.66666%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.33333%; }
.col-xs-5 { width: 41.66666%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.33333%; }
.col-xs-8 { width: 66.66666%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.33333%; }
.col-xs-11 { width: 91.66666%; }
.col-xs-12 { width: 100%; }

.col-xs-offset-1 { margin-left: 8.33333%; }
.col-xs-offset-2 { margin-left: 16.66666%; }
.col-xs-offset-3 { margin-left: 25%; }
.col-xs-offset-4 { margin-left: 33.33333%; }
.col-xs-offset-5 { margin-left: 41.66666%; }
.col-xs-offset-6 { margin-left: 50%; }
.col-xs-offset-7 { margin-left: 58.33333%; }
.col-xs-offset-8 { margin-left: 66.66666%; }
.col-xs-offset-9 { margin-left: 75%; }
.col-xs-offset-10 { margin-left: 83.33333%; }
.col-xs-offset-11 { margin-left: 91.66666%; }
.col-xs-offset-12 { margin-left: 100%; }
  
@media (min-width: 576px) {
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66666%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66666%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66666%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66666%; }
  .col-sm-12 { width: 100%; }

  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66666%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66666%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66666%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66666%; }
  .col-sm-offset-12 { margin-left: 100%; }
}

@media (min-width: 768px) {
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66666%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66666%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66666%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66666%; }
  .col-md-12 { width: 100%; }

  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-2 { margin-left: 16.66666%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-5 { margin-left: 41.66666%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-8 { margin-left: 66.66666%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-11 { margin-left: 91.66666%; }
  .col-md-offset-12 { margin-left: 100%; }
}

@media (min-width: 992px) {
  .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66666%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66666%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66666%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66666%; }
  .col-lg-12 { width: 100%; }

  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-2 { margin-left: 16.66666%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.33333%; }
  .col-lg-offset-5 { margin-left: 41.66666%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.33333%; }
  .col-lg-offset-8 { margin-left: 66.66666%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.33333%; }
  .col-lg-offset-11 { margin-left: 91.66666%; }
  .col-lg-offset-12 { margin-left: 100%; }
}

@media (min-width: 1200px) {
  .col-xl-1 { width: 8.33333%; }
  .col-xl-2 { width: 16.66666%; }
  .col-xl-3 { width: 25%; }
  .col-xl-4 { width: 33.33333%; }
  .col-xl-5 { width: 41.66666%; }
  .col-xl-6 { width: 50%; }
  .col-xl-7 { width: 58.33333%; }
  .col-xl-8 { width: 66.66666%; }
  .col-xl-9 { width: 75%; }
  .col-xl-10 { width: 83.33333%; }
  .col-xl-11 { width: 91.66666%; }
  .col-xl-12 { width: 100%; }

  .col-xl-offset-1 { margin-left: 8.33333%; }
  .col-xl-offset-2 { margin-left: 16.66666%; }
  .col-xl-offset-3 { margin-left: 25%; }
  .col-xl-offset-4 { margin-left: 33.33333%; }
  .col-xl-offset-5 { margin-left: 41.66666%; }
  .col-xl-offset-6 { margin-left: 50%; }
  .col-xl-offset-7 { margin-left: 58.33333%; }
  .col-xl-offset-8 { margin-left: 66.66666%; }
  .col-xl-offset-9 { margin-left: 75%; }
  .col-xl-offset-10 { margin-left: 83.33333%; }
  .col-xl-offset-11 { margin-left: 91.66666%; }
  .col-xl-offset-12 { margin-left: 100%; }
}

@media (min-width: 1400px) {
  .col-xxl-1 { width: 8.33333%; }
  .col-xxl-2 { width: 16.66666%; }
  .col-xxl-3 { width: 25%; }
  .col-xxl-4 { width: 33.33333%; }
  .col-xxl-5 { width: 41.66666%; }
  .col-xxl-6 { width: 50%; }
  .col-xxl-7 { width: 58.33333%; }
  .col-xxl-8 { width: 66.66666%; }
  .col-xxl-9 { width: 75%; }
  .col-xxl-10 { width: 83.33333%; }
  .col-xxl-11 { width: 91.66666%; }
  .col-xxl-12 { width: 100%; }

  .col-xxl-offset-1 { margin-left: 8.33333%; }
  .col-xxl-offset-2 { margin-left: 16.66666%; }
  .col-xxl-offset-3 { margin-left: 25%; }
  .col-xxl-offset-4 { margin-left: 33.33333%; }
  .col-xxl-offset-5 { margin-left: 41.66666%; }
  .col-xxl-offset-6 { margin-left: 50%; }
  .col-xxl-offset-7 { margin-left: 58.33333%; }
  .col-xxl-offset-8 { margin-left: 66.66666%; }
  .col-xxl-offset-9 { margin-left: 75%; }
  .col-xxl-offset-10 { margin-left: 83.33333%; }
  .col-xxl-offset-11 { margin-left: 91.66666%; }
  .col-xxl-offset-12 { margin-left: 100%; }
}