
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(36, 36, 36);
  color: white;
  text-align: center;
}

*{
  box-sizing: border-box;
}


[class*='col-']{
  background-color:teal;
  border: solid 1px #1d1d1f;
  
  margin-top: 10px;
  line-height: 70px;
  height: 100px;
}


